# Versão do projeto
COMPOSE_PROJECT_NAME=biblioteca

# Portas dos serviços
GATEWAY_PORT=
USUARIOS_PORT=
LIVROS_PORT=
EMPRESTIMOS_PORT=
MULTAS_PORT=
NOTIFICACOES_PORT=

# Portas dos bancos
PG_USUARIOS_PORT=
PG_LIVROS_PORT=
PG_EMPRESTIMOS_PORT=
PG_MULTAS_PORT=

# Credenciais dos bancos
POSTGRES_USER=
POSTGRES_PASSWORD=

# pgAdmin
PGADMIN_EMAIL=
PGADMIN_PASSWORD=
PGADMIN_PORT=

# Redis
REDIS_PORT=

# URLs dos serviços (para desenvolvimento local)
USUARIOS_URL=http://localhost:3001
LIVROS_URL=http://localhost:3002
EMPRESTIMOS_URL=http://localhost:3003
MULTAS_URL=http://localhost:3004
NOTIFICACOES_URL=http://localhost:3005