# Versão do projeto
COMPOSE_PROJECT_NAME=biblioteca

# Portas dos serviços
GATEWAY_PORT=3000
USUARIOS_PORT=3001
LIVROS_PORT=3002
EMPRESTIMOS_PORT=3003
MULTAS_PORT=3004
NOTIFICACOES_PORT=3005

# Portas dos bancos
PG_USUARIOS_PORT=5432
PG_LIVROS_PORT=5433
PG_EMPRESTIMOS_PORT=5434
PG_MULTAS_PORT=5435

# Credenciais dos bancos
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# pgAdmin
PGADMIN_EMAIL=admin@biblioteca.com
PGADMIN_PASSWORD=admin123
PGADMIN_PORT=5050

# Redis
REDIS_PORT=6379

# URLs dos serviços (para desenvolvimento local)
USUARIOS_URL=http://localhost:3001
LIVROS_URL=http://localhost:3002
EMPRESTIMOS_URL=http://localhost:3003
MULTAS_URL=http://localhost:3004
NOTIFICACOES_URL=http://localhost:3005