PORT=
DEBUG=

# Configurações de email (exemplo)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=

# URLs dos outros serviços (para desenvolvimento local)
USUARIOS_SERVICE_URL=http://localhost:3001
EMPRESTIMOS_SERVICE_URL=http://localhost:3003
LIVROS_SERVICE_URL=http://localhost:3002